/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Global Styles */
body {
  background-color: #f0f8ff;
  color: #f2f9fd;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding: 20px;
}


/* body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f8ff;
  color: #f2f9fd;
}

.container {
  padding: 20px;
} */